<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tierly</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <a href="/" class="logo"><img src="home.svg" width="40" /></a>
      <a href="/rangliste">Rangliste</a>
      <a href="/neu">neuer Beitrag</a>
      <a href="/profil">Profil</a>
    </header>

    {{{body}}}

    <footer>
      <p>&copy; 2024, Tierly</p>
    </footer>
  </body>

</html>