<div class="willkommen">
  <h1>Willkommen bei Tierly</h1>
  <p>Wir sind eine Team aus zwei Personen. Unser Ziel ist es ganz viele lustige
    und süsse Tierfotos zu sammeln, die dir garantiert den Tag versüssen werden.
    Natürlich ist und auch wichtig das ihr mitentscheiden könnt, welche den das
    beste Bild ist.</p>
</div>
<h1>Beiträge</h1>
<div class="beitraege">
  <div class="beitraege__container">
    <div class="beitraege__container--bild">
      <img src="construction.gif" alt="" />
      <div class="beitraege__container--bewertung">
        <a href="#"><img src="herz.svg" alt="" /></a>
        <a href="#"><img src="lustig.svg" alt="" /></a>
      </div>
    </div>

    {{#posts}}
      <p>{{titel}}</p>
      <p class="beitraege__container--datum">{{datum}}</p>
    {{/posts}}
  </div>
</div>