<h1>Beiträge</h1>

<div class="beitraege">
  <div class="beitraege__container">
    <img src="construction.gif" alt="" />
    <div class="beitraege__container--bewertung">
      <img src="herz.svg" alt="" />
      <img src="lustig.svg" alt="" />
    </div>
    <p>Titel des Beitrages</p>
    <p class="beitraege__container--datum">17.09.2024</p>
  </div>
</div>