<h2 class="login-titel">Login</h2>

<div class="login">
  <form action="/login" method="POST">
    <div class="login-box">
      <p>Benutzername:</p>
      <input name="benutzername" type="text" /><br />
    </div>
    <div class="login-box">
      <p>Passwort:</p>
      <input name="passwort" type="password" /><br />
    </div>
    <input type="submit" value="Anmelden" class="btn" />
  </form>

  <a href="/register" class="button" id="auszeichnung">-> Registrieren</a>
</div>