<h1>neuer Beitrag</h1>

<div class="input-box">
  <div>
    <p>Titel:</p>
    <input type="text" placeholder="Titel des Beitrages" />
  </div>
  <div>
    <p>Bild:</p>
    <input type="image" />
  </div>
  <div>
    <button>Veröffentlichen</button>
  </div>
</div>