<h1>Profil</h1>
<div class="profilbild">
  <img src="profil.svg" width="150" />
  <p class="auszeichnung">
    Profilbild ändern
  </p>
</div>

<div class="input-box">
  <div>
    <p>Neuer Benutzername:</p>
    <input type="text" placeholder="Benutzername" />
  </div>
  <div>
    <p>Neues Passwort:</p>
    <input type="text" placeholder="Passwort" />
  </div>
  <div>
    <button>Speichern</button>
  </div>
  <div>
    <p class="auszeichnung">
      -> Ausloggen
    </p>
  </div>
</div>