<h1>Profil</h1>
<div class="profilbild">
  <img src="profil.svg" width="150" />
  <p class="auszeichnung">
    Profilbild ändern
  </p>
</div>

<form action="/new_profil" method="post" class="input-box">
  <div>
    <p>Neuer Benutzername:</p>
    <input type="text" name="benutzername" placeholder="Benutzername" />
  </div>
  <div>
    <p>Neues Passwort:</p>
    <input type="text" name="passwort" placeholder="Passwort" />
  </div>
  <div>
    <button type="submit">Speichern</button>
  </div>
  <div>
    <p class="auszeichnung">
      -> Ausloggen
    </p>
  </div>
</form>