<h1>Profil</h1>
<div class="profilbild">
  <img src="profil.svg" width="150" />
  <a class="auszeichnung">
    Profilbild Farbe ändern
  </a>
</div>

<form action="/new_profil" method="post" class="input-box">
  <div>
    <p>Neuer Benutzername:</p>
    <input type="text" name="benutzername" placeholder="neuer Benutzername" />
  </div>
  <div>
    <p>Neues Passwort:</p>
    <input type="password" name="passwort" placeholder="neues Passwort" />
  </div>
  <div>
    <button type="submit">Speichern</button>
  </div>
  <div>
    <a href="/login" class="button" id="auszeichnung-ab">-> Abmelden</a>
  </div>
</form>