<h1>Rangliste</h1>
<div class="rangliste__container">
  <div class="rangliste__container--text">
    <a class="rc__text--suess">
      <p>Süssestes</p>
      <img src="herz.svg" alt="" />
    </a>
    <a class="rc__text--lustig">
      <p>Lustigstes</p>
      <img src="lustig.svg" alt="" />
    </a>
    <p>Tier der Woche:</p>
  </div>

  <div class="rangliste__container--suess"></div>
  <div class="rangliste__container--lustig"></div>
</div>