<h2 class="register-titel">Registrieren</h2>

<form action="/register" method="POST">
  Benutzername:
  <input name="benutzername" type="text" /><br />
  Passwort:
  <input name="passwort" type="password" /><br />
  <input type="submit" value="Registrieren" />
</form>
<a href="/login" class="button" id="auszeichnung-r">-> Login</a>