@import url("https://use.typekit.net/mch3zsm.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-text);
  background-color: var(--color-background);
}

:root {
  --color-background: #ecffe6;
  --color-primaer: #2db814;
  --color-auszeichnung: #1460b8;
  --color-black: #291f18;

  --font-family-text: bryant-web-alternate, sans-serif;
  --font-family-titel: anisette-std, sans-serif;

  --font-weight-titel: 400;
  --font-weight-text: 400;

  --font-size-ueberschrift: 32px;
  --font-size-text: 20px;
  --font-size-nav: 15px;
  --font-size-footer: 10px;
}

html {
  scroll-behavior: smooth;
  margin: 20px;
}

/* ---------------------- Navigation ----------------------*/

header {
  position: fixed;
  top: 0;
  width: 90%;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  border-bottom-color: var(--color-black);
  z-index: 100;
}

header a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-nav);
}

header img.logo {
  height: 10px;
  width: auto;
}

/* ---------------------- Allgemeine Tags ----------------------*/

h1 {
  margin: 80px 0 40px 0;
  font-family: var(--font-family-titel);
  font-weight: var(--font-weight-titel);
  font-size: var(--font-size-ueberschrift);
}

p {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-titel);
  font-size: var(--font-size-text);
}

#auszeichnung-ab {
  color: var(--color-auszeichnung);
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input {
  border: 2px var(--color-black) solid;
  background-color: none;
  min-height: 20px;
  width: 250px;
  padding: 5px;
}

button {
  padding: 5px;
  background-color: var(--color-primaer);
  color: var(--color-background);
  min-height: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  border: none;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-titel);
  font-size: var(--font-size-text);
}

/* ---------------------- Seite - Login/Registrieren ----------------------*/
.login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.login form .btn {
  margin-top: 20px;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-titel {
  margin: 80px 0 40px 0;
  font-family: var(--font-family-titel);
  font-weight: var(--font-weight-titel);
  font-size: var(--font-size-ueberschrift);
}

.login .btn {
  padding: 5px;
  background-color: var(--color-primaer);
  color: var(--color-background);
  min-height: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  border: none;
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-titel);
  font-size: var(--font-size-text);
}

.register-titel {
  margin: 80px 0 40px 0;
  font-family: var(--font-family-titel);
  font-weight: var(--font-weight-titel);
  font-size: var(--font-size-ueberschrift);
}

#auszeichnung,
#auszeichnung-r,
#auszeichnung-p {
  color: var(--color-auszeichnung);
  text-decoration: none;
}

/* ---------------------- Seite - Beiträge ----------------------*/

.beitraege {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.beitraege__container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.beitraege__container--bild {
  position: relative;
}

.beitraege__container--bild img {
  width: 80%;
  height: auto;
}

.beitraege__container--bewertung {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-evenly;
  background-color: var(--color-primaer);
  opacity: 0.5;
}

.beitraege__container--bewertung form {
  background-color: transparent;
}

.beitraege__bewertung--symbole {
  width: 60px;
  height: auto;
  display: flex;
  background-color: transparent;
  border: 0px;
}

.beitraege__container--datum {
  font-size: var(--font-size-footer);
}

/* ---------------------- Seite - Rangliste ----------------------*/

.rangliste__container--text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.rangliste__container--text img {
  cursor: pointer;
}

.rc__text--suess,
.rc__text--lustig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg {
  width: 50%;
  height: auto;
}

#rangliste__container--suess {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#rangliste__container--lustig {
  margin-top: 40px;
  display: none;
  flex-direction: column;
  gap: 40px;
}

.rc__suess--beitrag,
.rc__lustig--beitrag {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rc__suess--beitrag img,
.rc__lustig--beitrag img {
  width: 80%;
  height: auto;
}

.rc__suess--datum,
.rc__lustig--datum {
  font-size: var(--font-size-footer);
}

/* ---------------------- Seite - neuer Beitrag ----------------------*/

/* ---------------------- Seite - Profil ----------------------*/

.profilbild {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

/* ---------------------- Footer ----------------------*/

footer {
  width: 100%;
  min-height: 20px;
  display: flex;
  justify-content: start;
  border: 2px solid transparent;
  border-top-color: var(--color-black);
  margin-top: 40px;
}

footer p {
  color: var(--color-black);
  font-weight: var(--font-weight-text);
  font-size: var(--font-size-footer);
  margin-top: 8px;
}
